* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Roboto, Arial ,sans-serif;
}

#root {
    display: flex;
    justify-content: center;
}

.App {
    width: 800px;
}

.post {
    display: flex;
    padding: 15px;
    border:2px solid teal;
    margin-top:15px;
    align-items: center;
    justify-content: space-between;
}

.post-enter {
    opacity: 0;
    transform: translateX(1000px);
}
.post-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: all 500ms ease-in;
}
.post-exit {
    opacity: 1;
    transform: translateX(0);
}
.post-exit-active {
    opacity: 0;
    transform: translateX(-1000px);
    transition: all 500ms ease-in;
}