.myButton {
    padding: 5px 15px;
    color: teal;
    font-size: 14px;
    background:transparent;
    border: 1px solid teal;
    cursor: pointer;
    transition: background-color 0.2s,color 0.2s;
}
.myButton:hover {
    color:white;
    background-color: teal;
}