.navbar {
    height: 50px;
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 0 15px;
    border-bottom:1px solid teal;
    justify-content: space-between;
}
.navbar__links {
    margin-left: auto;
    padding-right: 15px;
}
.navbar__buttons {
    padding: 5px 15px;
    color: teal;
    font-size: 14px;
    background:transparent;
    border: 1px solid teal;
    cursor: pointer;
    transition: background-color 0.2s,color 0.2s;
    text-decoration: none;
}
.navbar__buttons:hover {
    color:white;
    background-color: teal;
}